* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
}

.header {
    position: relative;
    padding-top: 43px;
    background-color: black;
    background-image: url(/IMAGES/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
}

/* Navbar */
.header__navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #000000af;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s, position 0.3s;
}

.header__navbar.sticky {
    position: fixed;
    top: 0;
    background-color: black;
}

.header__logo {
    justify-content: start;
    width: 150px;
}

.header__menu {
    width: 50%;
}

.header__items {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__item {
    font-size: 20px;
    font-weight: 700;
}

a.header__red img {
    width: 23px;
}

#facebook {
    width: 28px;
}

a {
    color: #fff;
}

.header__redes {
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Main */
.main {
    background-color: #000;
}

.main__contenedor-subtitulo {
    display: flex;
    color: #fc4b08;
}

.linea {
    background-color: #fc4b08;
    height: 1px;
    width: 100%;
    margin-top: 30px;
    margin-left: 5px;
}

.main__subtitulo {
    font-size: 34px;
    margin: 10px 0;
}

/* Menu Sections */
.menu__secciones {
    display: block;
    background-color: #382393;
    width: 100%;
}

.menu__secciones ul {
    background-color: #3c3c3c;
    display: flex;
    justify-content: start;
    font-size: 24px;
}

.menu__secciones ul li {
    margin: 10px 100px 10px 63px;
    color: #fff;
}

#pizzas {
    font-weight: 700;
    border-bottom: 5px solid #fc4b08;
    color: #fc4b08;
}

/* Prices Table */
table {
    width: 60vw;
    height: 400px;
    color: #fff;
    border-collapse: collapse;
    margin: 10px 0 0px 5px;
}

th {
    border: none;
    background-color: transparent;
    height: 80px;
}

tr {
    background-color: transparent;
}

td {
    border: none;
    border-bottom: 1px solid #3c3c3c;
    height: 80px;
    width: 300px;
}

.ilustracion {
    width: 80px;
}

.precios {
    text-align: center;
}

td div {
    border: 1px solid #fc4b08;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: auto;
    padding-top: 17px;
    text-align: center;
}

/* Mapa */
.mapa {
    width: 100%;
    background-color: #fc4b08;
    margin-bottom: 500px;
}

.footer-map {
    background-color: #000;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
}

iframe {
    width: 90%;
    height: 90%;
    border: none;
}

/* Ubicación */
.footer__contenedor-subtitulo {
    padding: 20px 0 10px 0;
    display: flex;
    color: #fc4b08;
    background-color: #000;
}

.footer__subtitulo {
    font-size: 34px;
    margin: 10px 0;
}


/* Footer */
.footer {
    height: 1000px;
    background-color: #000;
}

.footer__footer {
    color: #fff;
    display: flex;
    margin-top: 600px;
    height: 300px;
}

.pie {
    width: 300px;
    margin: 30px;
}

.footer__izquierda {
    display: flex;
}

.footer__logo {
    width: 300px;
    margin: auto;
}

.footer__centro {
    text-align: center;
    padding-top: 70px;
}

.footer__derecha {
    text-align: center;
    padding-top: 70px;
}

.footer__redes {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.footer__red {
    margin: 0 10px;
}

.footer__red img {
    width: 23px;
}
